@font-face {
  font-family: 'typo';
  src: url('../fonts/raleway/regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'typo';
  src: url('../fonts/raleway/italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'typo';
  src: url('../fonts/raleway/semi.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'jap';
  src: url('../fonts/koruri/Koruri-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'jap';
  src: url('../fonts/koruri/Koruri-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#dovotori {
  width: 100%;
}

body {
  line-height: 1.6;
  background-color: #222;
  overflow-x: hidden;
  color: #fff;
  font-size: 14px;
}

body[theme='light'] {
  background-color: #fff;
}

body,
button,
a,
h1,
html:lang(jp) .numbers {
  font-family: 'typo', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, FreeSans, sans-serif;
}

html:lang(jp) body,
html:lang(jp) h1,
html:lang(jp) button,
html:lang(jp) a {
  font-family: 'jap', Meiryo, Osaka, sans-serif;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

h1 {
  line-height: 1;
}

p {
  letter-spacing: 0.02em;
}

a,
a:focus,
button:focus {
  text-decoration: none;
  outline: 0;
  border-radius: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #66ffcc;
}

.bloc {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
}

::-moz-selection {
  background: #66ffcc;
  color: #000;
}

::selection {
  background: #66ffcc;
  color: #000;
}