#deform {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  --project-color: #e666ff;
}

#deform canvas {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100%;
}

#deform .play-button {
  position: absolute;
  width: 6em;
  height: 6em;
  left: 50%;
  top: 50%;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
  transform: translate3d(-50%, -50%, 0) scale(0.8);
  border-radius: 50%;
  background: #e666ff;
  z-index: 1;
  opacity: 0.7;
}

#deform .play-button[data-play] {
  opacity: 0.4;
}

#deform .play-button:hover {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) scale(1);
}

#deform .play-button:active {
  transform: translate3d(-50%, -50%, 0) scale(0.8);
}

#deform .play-button[data-play] .play-icon,
#deform .play-button .pause-icon {
  display: none;
}

#deform .play-button[data-play] .pause-icon,
#deform .play-button .play-icon {
  display: block;
}

#deform .play-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #333;
  width: 3em;
  height: 3em;
  transform: translate3d(-50%, -50%, 0);
}
