<div id="modes">
  <button class="mode" data-current>1</button>
  <button class="mode">2</button>
  <button class="mode">3</button>
  <button class="mode">4</button>
  <button class="mode">5</button>
  <button class="mode">6</button>
  <button class="mode">7</button>
</div>
<p id="message">DRAG</p>