#shader {
  position: relative;
  width: 100%;
  height: auto;
  --project-color: #7866ff;
}

#shader canvas {
  margin: 0 auto;
  width: 100%;
}

#modes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

#modes button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  margin: 0 0.2em;
  padding: 1em 0;
  border-radius: 50%;
  background-color: var(--project-color);
  opacity: 0.5;
  transition: opacity 100ms ease-out, transform 100ms cubic-bezier(0.43, 0.5, 0.36, 1.89);
}

#modes button[data-current] {
  transform: scale(1.1);
  opacity: 1;
}

#modes button p {
  margin-bottom: 2px;
}

#shader #message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.2em;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}